td.active {
    background-color: green;
}

td.pending {
    background-color: yellow;
}

td.booking {
    background-color: red;
}

td:not(.booking){
    cursor: pointer;
}

td:not(.booking) .position:hover {
    color: greenyellow;
}
td.active .position:hover {
    color: purple;
}

#svg-holder /deep/ .active{
  fill: green !important;
}
#svg-holder /deep/ .pending{
  fill: yellow !important;
}
#svg-holder /deep/ .booked{
  fill: red !important;
}
