.carousel /deep/ .carousel-control-next,
.carousel /deep/ .carousel-control-prev{
    width: 30px;
}
.carousel /deep/ .carousel-control-next-icon, 
.carousel /deep/ .carousel-control-prev-icon{
    background : no-repeat gray 50%/100% 50%;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.carousel /deep/ .carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e") 
}
.carousel /deep/ .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
}
.carousel /deep/ .row{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}
.carousel /deep/ .carousel-inner{
    height: 400px;
}
.card-img-top{
    object-fit: scale-down;
    height: 250px;
}
.carousel, .carousel /deep/ .carousel-inner{
    outline: none
}
.carousel /deep/ a{
    color: black;
}
.carousel /deep/ a:hover{
    color: black;
    text-decoration: none;
}

    