<div class="container mt-3" *ngIf="myEvent; else eventLoad">
    <div class="row mb-3">
        <div class="col-md-3">
            <img src="/api/image/{{myEvent.image.id}}" alt="{{myEvent.name}}" width="200">
        </div>
        <div class="col-md-9">
            <h2>{{myEvent.name}}</h2>
            <label>{{myEvent.description}}</label>
        </div>
    </div>
    <label for="serviceId">Helyszín</label>
    <div class="form-group" *ngIf="eventServiceList && eventServiceList.length > 0">
        <select name="serviceId" id="serviceId" placeholder="Válassz helyet" class="form-control" (change)="onServiceChanged()" [(ngModel)]="serviceId">
            <option value="" disabled selected>Válassz helyszínt</option>
            <option  *ngFor="let service of eventServiceList" value="{{service.id}}">{{service.name}}</option>
          </select>
    </div>
    <table class="table table-bordered mt-3" *ngIf="eventDateGroup && eventDateGroup.length > 0; else noSchedule">
        <thead>
            <tr>
                <th>Dátum</th>
                <th>Időpont</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dateGroup of eventDateGroup">
              <td>
                {{dateGroup.date | date:'yyyy.MM.dd'}}
              </td>
                <td>
                    <a *ngFor="let schedule of dateGroup.eventSchedules" class="mr-1" [routerLink]="['/event-schedule', schedule.id]">{{schedule.from | date:"HH:mm"}}</a>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #noSchedule>
        <p>Nincs ütemezés a választott helyszínen.</p>
    </ng-template>

</div>
<ng-template #eventLoad>
    <h2>Az esemény letöltése folyamatban.</h2>
</ng-template>
