<svg width="308" height="97" xmlns="http://www.w3.org/2000/svg" (click)= "onSvgClick($event)">
  <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
  <g>
   <title>background</title>
   <rect fill="#fff" id="canvas_background" height="99" width="310" y="-1" x="-1"/>
   <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
    <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
   </g>
  </g>
  <g>
   <title>Layer 1</title>
   <rect stroke="#000" id="svg_1" height="94.999999" width="302.000012" y="0.75" x="2.75" stroke-width="1.5" fill="#fff"/>
   <ellipse ry="30.5" rx="30.5" id="svg_3" cy="49.250001" cx="45.25" stroke-width="1.5" stroke="#000" fill="#fff"
    data-id="1234" data-position="I1"/>
   <ellipse ry="30.5" rx="30.5" id="svg_4" cy="47.250001" cx="256.25" stroke-width="1.5" stroke="#000" fill="#fff"
    data-id="1234" data-position="I1"/>
   <ellipse ry="30.5" rx="30.5" id="svg_5" cy="47.250001" cx="186.25" stroke-width="1.5" stroke="#000" fill="#fff"
   data-id="1234" data-position="I1"/>
   <ellipse ry="30.5" rx="30.5" id="svg_6" cy="48.250001" cx="115.25" stroke-width="1.5" stroke="#000" fill="#fff"
   data-id="1234" data-position="I1"/>
  </g>
 </svg>
