<div class="container mt-3">
    <h1>Foglalás</h1>
    <p [hidden]="submitted">Zárolási idő: {{min}}:{{sec}}</p>
    <form (ngSubmit)="onSubmit()" #bookingForm="ngForm" [hidden]="submitted">
        <div class="form-group">
            <label for="name">Név</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
        </div>
        <div class="form-group">
            <label for="name">Telefon</label>
            <input type="text" class="form-control" id="phone" required [(ngModel)]="model.phone" name="phone">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" required [(ngModel)]="model.email" [email]="true" name="email">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!bookingForm.form.valid">Foglalás leadása</button>
    </form>
    <div [hidden]="!submitted">
        <p>A foglalását sikeresen rögzítettük</p>
        <p>Azonosító : <b>{{bookingId}}</b></p>
        <a [routerLink]='["/"]'>
            <span class='glyphicon glyphicon-home'></span> Főoldal
        </a>
    </div>
</div>