/* Centered text */

.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 50%;
    background: black;
    transform: translate(-50%, -50%);
}

.centered label {
    color: white;
    font-size: 20;
    font-weight: 600;
}

