/* Centered text */
.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 100%;
    background: tomato;
    transform: translate(-50%, -50%);
  }
  .centered a{
      color: white;
      font-size: 20;
      font-weight: 600;
  }