<div class="container mt-3" *ngIf="!selectedEvent">
    <h2>
        Események
    </h2>
    <form #searchForm="ngForm" (ngSubmit)="onSearch()">
        <div class="form-row">
            <div class=" form-group col-lg-3">
                <label for="name">Esemény neve</label>
                <input type="text" name="name" id="name" class="form-control" [(ngModel)]="searchParameter.name" />
            </div>
            <div class=" form-group col-lg-3">
                <label for="name">Kezdési dátum</label>
                <input type="text" ngbDatepicker #d="ngbDatepicker" name="date" class="form-control" (click)="d.toggle()" placeholder="yyyy-mm-dd" [(ngModel)]="date" />
            </div>
        </div>
        <button type="submit" class="btn btn-success">Keresés</button>
    </form>
    <div class="row text-center mt-5" *ngIf="events.length > 0; else noItemBlock">
        <div class="col-lg-3  mb-3" *ngFor="let myevent of events | paginate: { itemsPerPage: 8, currentPage: page }">
            <div class="card grow" [routerLink]="[ '/event', myevent.id ]">
                <img class="card-img-top" src="/api/image/{{myevent.image.id}}" alt="Esemény kép">
                <div class="card-body">
                    <h4 class="card-title">{{myevent.name}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="events.length > 0">
        <pagination-controls (pageChange)="page = $event" previousLabel="Előző" nextLabel="Következő" class="pager">
        </pagination-controls>
    </div>
    <ng-template #noItemBlock>
        <h4>Nincs a keresésnek megfelelő elem.</h4>
    </ng-template>
</div>