<div class="container" *ngIf="schedule">
  <table class="table table-stripped table-bordered mt-3 text-center">
    <tr>
      <td *ngFor="let spp of schedule.servicePlace.layout" [ngClass]="{'active' : isSelected(spp),  'booking' : containsBooking(spp) , 'pending': containsPending(spp)}"
        (click)="positionSelected(spp)">
        <span class="position">{{spp.name}}</span>
      </td>
    </tr>
  </table>
  <div *ngIf="selectedPositions.length > 0">
    <label>Kiválasztott hely(ek):
      <b><span *ngFor="let selectedPosition of selectedPositions">{{selectedPosition.name}} </span></b>
    </label>
    <button type="button"  mat-raised-button color="primary" class="float-right" (click)="createPendingBooking()">Foglalás</button>
  </div>

</div>
<app-load [loading]="loading"></app-load>