<div class="container" *ngIf="schedule; else elseBlock">
  <table class="table table-stripped table-bordered">
    <tr> 
      <td *ngFor="let spp of schedule.servicePlace.layout" 
        [ngClass]="{'active' : isSelected(spp),  'booking' : containsBooking(spp) , 'pending': containsPending(spp)}"
        (click)="positionSelected(spp)">
          <p>{{spp.name}}</p>
      </td>
    </tr>
  </table>
  <label for="">Kiválasziott helye: <span *ngFor="let selectedPosition of selectedPositions">{{selectedPosition.name}} <br></span></label>
  <button type="button" class="btn btn-primary" (click)="createPendingBooking()" >Foglalás</button>
</div>
<ng-template #elseBlock>A töltés folyamatban.</ng-template>